*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Montserrat", sans-serif;
  background-image: url("/Image/mainBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav{
   background-color: rgba(128, 128, 128, 0.541);
   backdrop-filter: blur(10px);
   color: white;
   height: 4rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 4rem;
   position: sticky;
   top: 0;
   z-index: 2;
}  
.nav-opt{
    display: flex;
}
ul li{
    margin-left: 20px ;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
ul li a:hover{
    color: #ff6600;
}
.icon{
    font-size: 1.5rem;
    display: none!important;
}
.containor{
    min-height: 100vh;
    
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 position: relative;

}
.containor::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.293);
}
.cart{
    color: white;
    background-color: rgba(255, 255, 255, 0.237);
    padding: 40px;
   width: 700px;
   text-align: center;
   border-radius: 1rem;
   backdrop-filter: blur(10px);
   border: 1px solid rgba(255, 255, 255, 0.153);
}
.cart h1{
    font-size: 40px;
    padding: 20px;
}
.cart p{
    font-size: 18px;
    line-height: 1.8rem;
}

@media (max-width:750px){
.cart{
    width: 300px;
    padding: 25px;
}
}
@media (max-width:660px){
nav ul{
   display: none !important;
}
.icon{
    display: flex !important;
}
}